@model AdminLoginViewModel
@{
    ViewData["Title"] = "Üye Girişi";
}

<section>

    <div class="page-header min-vh-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-8">
                        <div class="card-header pb-0 text-left bg-transparent">
                            <h3 class="font-weight-bolder text-info text-gradient">Tekrar Hoşgeldiniz...</h3>

                        </div>
                        <div class="card-body">
                            <form role="form" asp-action="Index">
                               
                                <div class="mb-3">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" placeholder="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="password" class="control-label"></label>
                                    <input asp-for="password" placeholder="Şifre" class="form-control" />
                                    <span asp-validation-for="password" class="text-danger"></span>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-check form-switch">
                                    <a href="/AppUsers/ForgotPassword">
                                    <label class="form-check-label" for="rememberMe">Şifremi Unuttum!</label>
                                    </a>
                                </div>
                                <div class="text-center">
                                    <input type="submit" value="GİRİŞ YAP" class="btn bg-gradient-info w-100 mt-4 mb-0" />
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center pt-0 px-lg-2 px-1">
                            <p class="mb-4 text-sm mx-auto">
                                Hesabınız yok mu?
                                <a href="/AppUsers/Create" class="text-info text-gradient font-weight-bold">Üye Ol</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                        <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('/Admin/assets/img/curved-images/curved6.jpg')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

