@{
    ViewData["Title"] = "Erişim Engellendi";
}
<section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('/Admin/assets/img/curved-images/curved14.jpg');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container">
                <div class="row justify-content-center">
                <div class="col-lg-5 text-center mx-auto">
                    <h1 class="text-white mb-2 mt-5">Erişim Engellendi!</h1>
                    <hr style="color:white;"/>
                    <h3 class="text-white mb-2 mt-5">Bu Alana Erişim Yetkiniz Bulunmamaktadır.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
